/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
border: 1px solid #000;
background: #fff; 
width: 99.75%; 
height: 27px; 
margin: 0; 
padding: 0;
overflow: hidden; 
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 10px;
top: 5px;
width: 100%;
overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
left: 100%;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
background: #fff;
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
color: #ff0000;
margin: 0 50px 0 0;
} 
ul.newsticker span {
margin: 0 10px 0 0;
} 
.jeba_nticker {
  overflow: hidden;
}
.jeba_ntitle > p {
  font-weight: bold;
  max-height: 27px;
  padding: 3px 8px;
  text-align: center;
  white-space: nowrap;
}
.jeba_ticker {
  float: left;
  max-width: 81% !important;
  min-width: 81%;
}
.jeba_ntitle {
  float: left;
  max-width: 19%;
  min-width: 19%;
}
/* Mobile Small Layout */

@media only screen and (max-width: 630px) {
.jeba_ntitle {
  max-width: inherit;
  min-width: inherit;
}
.jeba_ticker {
  max-width: 100% !important;
  min-width: inherit;
}
.jeba_ntitle > p {
 text-align: center;
}
}